<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  <title>Home page</title>
</head>
<body>
  <nav>
    <ul class="sidebar">
      <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="{{ url_for('dashboard') }}">Home</a></li>
      <li><a href="{{ url_for('uploads') }}">Uploads</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      <li><a href="{{ url_for('search_html') }}">search</a></li>
    </ul>

    <ul>
      <li class="hideOnMobile"><a href="{{ url_for('dashboard') }}">Home</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('uploads') }}">Uploads</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('profile') }}">profile</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('logout') }}">Logout</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('search_html') }}">Search</a></li>
      <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
  </nav>

  <div class="home-section">
	<div class="message">
        	<h1><span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span><span>...</span></h1>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
