<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.1/css/boxicons.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
  <title>Home page</title>
</head>
<body>
  <nav>
    <ul class="sidebar">
      <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('buy') }}">Buy</a></li>
      <li><a href="{{ url_for('rent') }}">Rent</a></li>
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('search_html') }}">search</a></li>
    </ul>

    <ul>
      <li class="hideOnMobile"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('buy') }}">Buy</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('rent') }}">Rent</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('login') }}">Login</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('search_html') }}">Search</a></li>
      <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
  </nav>

  <div class="home-section">
	<div class="message">
        	<h1><span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span><span>...</span></h1>
    </div>
  </div>

  <div class="about-section">
    <h1>About Us</h1>
    <p>Our app aims to connect property owners with clients in the real estate industry. Property agents can log in to post properties, while clients can browse and search for properties without the need to log in.</p>
    <p>Our goal is to streamline the process of finding, buying, and renting properties by providing a user-friendly platform for both property owners and clients.</p>
    <p>With our app, property owners can easily showcase their properties to a wide audience, while clients can effortlessly find their dream homes or investment properties.</p>
</div>

  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
