<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sale.css') }}">
    <title>RENT</title>
</head>
<body>

   <nav>
    <ul class="sidebar">
      <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('buy') }}">Buy</a></li>
      <li><a href="{{ url_for('rent') }}">Rent</a></li>
      <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>

    <ul>
      <li class="hideOnMobile"><a href="{{ url_for('index') }}">Home</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('buy') }}">Buy</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('rent') }}">Rent</a></li>
      <li class="hideOnMobile"><a href="{{ url_for('login') }}">Login</a></li>
      <li class="menu-button" onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
    </ul>
  </nav> 

    <div id="container">
        {% if properties %}
            {% for property_item in properties %}
                <div class="item" data-property_id="{{ property_item.id }}">
                    <div class="image">
                        <img src="{{ url_for('uploaded_file', filename=property_item.images[0].filename) }}" alt="{{ property_item.images[0].filename }}">
                    </div>
                    <div class="description">
                        <h2>{{ property_item.location }}</h2>
                        <p>ksh <span class="price">{{ property_item.price }}</span>/month</p>
                        <p>{{ property_item.bedrooms }} bedrooms</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="default">No Properties Available</p>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/sale.js') }}"></script>
</body>
</html>
